<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger dl-active">Open Menu</button>
		<ul class="dl-menu dl-menuopen">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu ">
					<li>
						<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>
					{% if site.email %}<li>
                        <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> Email</a>
                    </li>{% endif %}
                    {% if site.twitter %}<li>
                        <a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
                    </li>{% endif %}
                    {% if site.facebook %}<li>
                        <a href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
                    </li>{% endif %}
                    {% if site.google.plus %}<li>
                        <a href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>
                    </li>{% endif %}
                    {% if site.linkedin %}<li>
                        <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
                    </li>{% endif %}
                    {% if site.xing %}<li>
                        <a href="http://www.xing.com/profile/{{ site.xing }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-xing-square"></i> Xing</a>
                    </li>{% endif %}
                    {% if site.instagram %}<li>
                        <a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
                    </li>{% endif %}
                    {% if site.tumblr %}<li>
                        <a href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-tumblr-square"></i> Tumblr</a>
                    </li>{% endif %}
                    {% if site.github-url %}<li>
                        <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
                    </li>{% endif %}
                    {% if site.stackoverflow %}<li>
                        <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i> StackOverflow</a>
                    </li>{% endif %}
                    {% if site.lastfm %}<li>
                        <a href="http://lastfm.com/user/{{ site.lastfm }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-music"></i> LastFm</a>
                    </li>{% endif %}
                    {% if site.dribbble %}<li>
                        <a href="http://dribbble.com/{{ site.dribbble }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-dribbble"></i> Dribble</a>
                    </li>{% endif %}
                    {% if site.pinterest %}<li>
                        <a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-pinterest"></i> Pinterest</a>
                    </li>{% endif %}
                    {% if site.foursquare %}<li>
                        <a href="http://foursquare.com/{{ site.foursquare }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-foursquare"></i> Foursquare</a>
                    </li>{% endif %}
                    {% if site.steam %}<li>
                        <a href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i> Steam</a>
                    </li>{% endif %}
                    {% if site.youtube %}<li>
                        <a href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>
                    </li>{% endif %}
                    {% if site.youtube-channel %}<li>
                        <a href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i> Youtube</a>
                    </li>{% endif %}
                    {% if site.soundcloud %}<li>
                        <a href="http://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-soundcloud"></i> SoundCloud</a>
                    </li>{% endif %}
                    {% if site.weibo %}<li>
                        <a href="http://www.weibo.com/{{ site.weibo }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-weibo"></i> Weibo</a>
                    </li>{% endif %}
                    {% if site.flickr %}<li>
                        <a href="http://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-flickr"></i> Flickr</a>
                    </li>{% endif %}
                    {% if site.codepen %}<li>
                        <a href="http://codepen.io/{{ site.codepen }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-codepen"></i> Codepen</a>
                    </li>{% endif %}
                    {% if site.keybase %}<li>
                        <a href="https://keybase.io/{{ site.keybase }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-key"></i> Keybase</a>
                    </li>{% endif %}
                    {% if site.xmpp %}<li>
                        <a href="xmpp:{{ site.xmpp }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-lightbulb-o"></i> XMPP</a>
                    </li>{% endif %}
                    {% if site.hackernews %}<li>
                        <a href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-hacker-news"></i> Hacker News</a>
                    </li>{% endif %}
                </ul><!-- /.dl-submenu -->
                
            </li>

            {% assign Front_count = 0 %}
            {% assign Front_html_count = 0 %}
            {% assign Front_css_count = 0 %}
            {% assign Front_js_count = 0 %}
            {% assign Back_count = 0 %}
            {% assign Back_node_count = 0 %}
            {% assign Server_count = 0 %}
            {% assign Design_count = 0 %}
            {% assign project_count = 0 %}
            {% assign node_count = 0 %}
            {% assign aws_count = 0 %}
            {% assign blogs_count = 0 %}
            {% assign script_count = 0 %}
            {% assign all_count = 0 %}

            
            {% for post in site.posts %}
                {% if post.Front_html %}
                {% assign Front_count = Front_count | plus: 1 %}
                {% assign Front_html_count = Front_html_count | plus: 1 %}
                {% elsif post.Front_css %}
                {% assign Front_count = Front_count | plus: 1 %}
                {% assign Front_css_count = Front_css_count | plus: 1 %}
                {% elsif post.Front_js %}
                {% assign Front_count = Front_count | plus: 1 %}
                {% assign Front_js_count = Front_js_count | plus: 1 %}
                {% elsif post.Back_node %}
                {% assign Back_count = Back_count | plus: 1 %}
                {% assign Back_node_count = Back_node_count | plus: 1 %}
                {% elsif post.Back_server %}
                {% assign Back_count = Back_count | plus: 1 %}
                {% assign Server_count = Server_count | plus: 1 %}
                {% elsif post.design %}
                {% assign Design_count = Design_count | plus: 1 %}
                {% elsif post.node %}
                {% assign node_count = node_count | plus: 1 %}
                {% elsif post.aws %}
                {% assign aws_count = aws_count | plus: 1 %}
                {% elsif post.blog %}
                {% assign blogs_count = blogs_count | plus: 1 %}
                {% elsif post.script %}
                {% assign script_count = script_count | plus: 1 %}
                {% endif %}
            {% assign all_count = all_count | plus: 1 %}
    
            {% endfor %}
            
            <li><a id="Front" href="{{ site.url }}/Front_html/">Front End ({{ Front_count }})</a></li>
            <li><a class='second' id="Front_html"  href="{{ site.url }}/Front_html/"> - HTML ({{ Front_html_count }})</a></li>
            <li><a class='second' id="Front_css"  href="{{ site.url }}/Front_css/"> - CSS({{ Front_css_count }})</a></li>
            <li><a class='second' id="Front_js"  href="{{ site.url }}/Front_js/"> - Java Script ({{ Front_js_count }})</a></li>
            <li><a id="Back" href="{{ site.url }}/Back_node/">Back End ({{ Back_count }})</a></li>
            <li><a class='second' id="Back_node"  href="{{ site.url }}/Back_node/"> - Node js ({{ Back_node_count }})</a></li>
            <li><a class='second' id="Back_server"  href="{{ site.url }}/Back_server/"> - Server ({{ Server_count }})</a></li>
            <li><a id="design" href="{{ site.url }}/design/">Design ({{ Design_count }})</a></li>
			<li>
             
				<a id="Projects" href="#">Projects ({{ project_count }})</a>
				<ul class="dl-submenu">
					<li><a id="node" href="{{ site.url }}/node/">node ({{ node_count }})</a></li>
					<li><a id="aws" href="{{ site.url }}/aws/">aws ({{ aws_count }})</a></li>
				</ul>
			</li>
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
            {% endif %}

            <!-- <li><a href="{{ site.url }}/script/">Script</a></li> -->
            <li><a id="blog" href="{{ site.url }}/blog/">blogs ({{ blogs_count }})</a></li>

            <!-- <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li> -->
            <li><a id="script" href="{{ site.url }}/script/">script ({{ script_count }})</a></li>
            <li><a id="posts" href="{{ site.url }}/posts/">All Posts ({{ all_count }})</a></li>
            <li><a id="tags" href="{{ site.url }}/tags/">All Tags</a></li>
		  {% endfor %}
        </ul><!-- /.dl-menu -->
        
        {% assign idname = page.dir | replace: '/', '' %}
        <script>
            console.log('아농하세여');
            $('#{{idname}}').css('color','#0ff');
        </script>
        

	</nav><!-- /.dl-menuwrapper -->

    <script>

$( window ).resize(function() {
   open_chatroom();
});


    function open_chatroom() {
        var windowWidth = $(window).width();
        if (windowWidth < 500) {
            console.log('500 보다 작다');
            $('.dl-trigger').removeClass('dl-active');
            $('.dl-menu').removeClass('dl-menuopen');

        } else {
            $('.dl-trigger').addClass('dl-active');
            $('.dl-menu').addClass('dl-menuopen');
            console.log('500 보다 크다');
        }
    }


    </script>
 